{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block CSS %}
{{ block.super }}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
    
    
    <!--
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    -->
    
{% endblock CSS %}

{% block main %}
<!-- MODAL FORM -->
<form action="{% url 'dashboard' %}" method="POST" class="modal fade" id="ModalForm" tabindex="-10" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="ModalFormLabel">Agregar Cliente <i class="fa fa-user-plus"></i></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                {{ form|crispy }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</form>
<!-- MODAL FORM -->

<!-- PAGE TITLE -->
<div class="row mb-2">
    <div class="text-end">
        <span class="badge text-bg-dark">
            Broker: {{ user.first_name }} {{ user.last_name }}
        </span>
    </div>
    <h4>Dashboard <i class="bx bx-grid-alt"></i></h4>
</div>
<!-- PAGE TITLE -->

<!-- MODAL BUTTON -->
<div class="row mb-3">
    <div class="col text-end">

        <button type="button"  class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalForm">
            Nuevo Cliente <i class="fa fa-user-plus" ></i>
        </button>
    </div>
</div>
<!-- MODAL BUTTON -->

<!-- CONTENT TABLES -->
<div class="row mb-3">

    <!-- CARD ARRENDADORES -->
    <div class="col-lg-6 col-m-12 mb-3">
        <div class="card shadow rounded">
            <div class="card-header">
                <h5>Propietarios <i class="fa-solid fa-house"></i></h5>
            </div>
            <div class="card-body">
                <div class="row text-start">
                    <div class="col-sm-6">
                        <table id="lessors-table" class="display">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Membresia</th>
                                    <th>Estatus</th>
                                    <th>Nacionalidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for costumer in costumers_lessors %}
                                <tr>
                                    <td>{{ costumer.user.first_name }} {{ costumer.user.last_name }}</td>
                                    <td>{{ costumer.membership }}</td>
                                {% if costumer.is_active %}
                                    <td scope="row"><span class="badge text-bg-success">Activo</span></td>
                                {% else %}
                                    <td scope="row"><span class="badge text-bg-danger">Inactivo</span></td>
                                {% endif %}
                                    <td>{{ costumer.nationality }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!-- CARD FOOTER DISABLED 
            <div class="card-footer text-body-secondary">
                
            </div>
        -->
        </div>
    </div>
    <!-- CARD ARRENDADORES -->


    <!-- CARD ARRENDATARIOS -->
    <div class="col-lg-6 col-m-12 mb-3">
        <div class="card shadow rounded">
            <div class="card-header">
                <h5>Inquilinos <i class="fa fa-user"></i></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table id="tenants-table" class="display">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for costumer in costumers_tenants %}
                                <tr>
                                    <td>{{ costumer.user.first_name }} {{ costumer.user.last_name }}</td>
                                {% if costumer.is_active %}
                                    <td scope="row"><span class="badge text-bg-success">Activo</span></td>
                                {% else %}
                                    <td scope="row"><span class="badge text-bg-danger">Inactivo</span></td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <!-- CARD FOOTER DISABLED 
            <div class="card-footer text-body-secondary">
                
            </div>
        -->
        </div>
    </div>
    <!-- CARD ARRENDATARIOS -->


    <!-- CARD RENTAS EN CURSO -->
    <div class="col-12 mb-3">
        <div class="card shadow rounded">
            <div class="card-header">
                <h5>Rentas en Curso <i class="fa-solid fa-house-user"></i></h5>
            </div>
            <div class="card-body">
    
            </div>
            <!-- CARD FOOTER DISABLED 
            <div class="card-footer text-body-secondary">
                
            </div>
        -->
        </div>
    </div>
    <!-- CARD RENTAS EN CURSO -->

</div>
<!-- CONTENT TABLES -->


{% endblock main %}
{% block JS %}
{{ block.super }}
    <!--
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    -->
    
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    
    <script>
        //let tableLessors = new DataTable('#lessors-table');
        $('#lessors-table').DataTable( {
                responsive: true
        } );
    </script>
    <script>
        //let tableTenants = new DataTable('#tenants-table');
        $('#tenants-table').DataTable( {
                responsive: true
        } );
    </script>
{% endblock JS %}