{% load static %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="{% url 'control_data' %}">
            {{ viewname }} <i class="bx bx-grid-alt"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">

            <div class="offcanvas-header">
                <div class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                    <a href="/" class="d-flex mt-4 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img src="{% static 'images/favicon.svg' %}" height="25px" width="25px">
                        <p>Centurion <span class="text-bg-secondary rounded p-1">Lite</span></p>
                    </a>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            
            <div class="offcanvas-body">
                <p>
                    Bienvenido(a), {{ user.first_name }} {{ user.last_name }}.
                </p>
                <hr>
                <div class="d-flex flex-column text-bg-dark">

                    <ul class="nav nav-pills flex-column mb-auto">
                        
                        <li class="nav-item mb-3">
                            {% if is_broker %}
                                <a href="{% url 'dashboard' %}" class="nav-link active" aria-current="page">
                                    <i class='bx bx-grid-alt nav_icon'></i>
                                    Dashboard
                                </a>
                            {% endif %}
                            {% if is_costumer %}
                                <a href="{% url 'control_data' %}" class="nav-link active">
                                    <i class='bx bx-user nav_icon'></i>
                                    Inicio
                                </a>
                            {% endif %}
                        </li>

                        <li class="mb-3">
                            <a href="{% url 'control_data' %}" class="nav-link text-white">
                                <i class='bx bx-user nav_icon'></i>
                                Perfil
                            </a>
                        </li>
    
                        <!-- NAV LINK EXAMPLE 
                        <li>
                            <a href="{% url 'control_data' %}" class="nav-link text-white">
                                <i class='bx bx-user nav_icon'></i>
                                Inicio
                            </a>
                        </li>
                        -->
                    </ul>
    
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>
                                    {{ user.first_name }} {{ user.last_name }}
                            </strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Aviso de Privacidad</a></li>
                            <li><a class="dropdown-item" href="#">Soporte</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a href="{% url 'logout' %}" class="dropdown-item"> 
                                    <i class='bx bx-log-out nav_icon'></i> 
                                    <span class="nav_name">Cerrar Sesión</span> 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>